--
-- PostgreSQL database dump
--

-- Dumped from database version 12.22
-- Dumped by pg_dump version 12.22

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: components; Type: TABLE; Schema: public; Owner: avtovibor
--

CREATE TABLE public.components (
    "componentId" integer NOT NULL,
    "pageId" integer NOT NULL,
    type character varying(25) NOT NULL,
    props jsonb,
    "createdAt" timestamp with time zone
);


ALTER TABLE public.components OWNER TO avtovibor;

--
-- Name: components_componentId_seq; Type: SEQUENCE; Schema: public; Owner: avtovibor
--

CREATE SEQUENCE public."components_componentId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."components_componentId_seq" OWNER TO avtovibor;

--
-- Name: components_componentId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: avtovibor
--

ALTER SEQUENCE public."components_componentId_seq" OWNED BY public.components."componentId";


--
-- Name: fields; Type: TABLE; Schema: public; Owner: avtovibor
--

CREATE TABLE public.fields (
    "fieldId" integer NOT NULL,
    module character varying(55) NOT NULL,
    key character varying(25) NOT NULL,
    label character varying(255) NOT NULL,
    hint character varying(255) NOT NULL,
    type character varying(10) NOT NULL,
    content character varying(250) NOT NULL,
    "createdAt" timestamp with time zone,
    "updatedAt" timestamp with time zone
);


ALTER TABLE public.fields OWNER TO avtovibor;

--
-- Name: fields_fieldId_seq; Type: SEQUENCE; Schema: public; Owner: avtovibor
--

CREATE SEQUENCE public."fields_fieldId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."fields_fieldId_seq" OWNER TO avtovibor;

--
-- Name: fields_fieldId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: avtovibor
--

ALTER SEQUENCE public."fields_fieldId_seq" OWNED BY public.fields."fieldId";


--
-- Name: files; Type: TABLE; Schema: public; Owner: avtovibor
--

CREATE TABLE public.files (
    "fileId" integer NOT NULL,
    filename character varying(255) NOT NULL,
    destination character varying(255) NOT NULL,
    size integer,
    mimetype character varying(255),
    "createdAt" timestamp with time zone
);


ALTER TABLE public.files OWNER TO avtovibor;

--
-- Name: files_fileId_seq; Type: SEQUENCE; Schema: public; Owner: avtovibor
--

CREATE SEQUENCE public."files_fileId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."files_fileId_seq" OWNER TO avtovibor;

--
-- Name: files_fileId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: avtovibor
--

ALTER SEQUENCE public."files_fileId_seq" OWNED BY public.files."fileId";


--
-- Name: menuItems; Type: TABLE; Schema: public; Owner: avtovibor
--

CREATE TABLE public."menuItems" (
    "menuItemId" integer NOT NULL,
    title character varying(255) NOT NULL,
    url character varying(255) NOT NULL,
    "orderBy" integer NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "parentId" integer,
    "createdAt" timestamp with time zone,
    "updatedAt" timestamp with time zone
);


ALTER TABLE public."menuItems" OWNER TO avtovibor;

--
-- Name: menuItems_menuItemId_seq; Type: SEQUENCE; Schema: public; Owner: avtovibor
--

CREATE SEQUENCE public."menuItems_menuItemId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."menuItems_menuItemId_seq" OWNER TO avtovibor;

--
-- Name: menuItems_menuItemId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: avtovibor
--

ALTER SEQUENCE public."menuItems_menuItemId_seq" OWNED BY public."menuItems"."menuItemId";


--
-- Name: pages; Type: TABLE; Schema: public; Owner: avtovibor
--

CREATE TABLE public.pages (
    "pageId" integer NOT NULL,
    type character varying(15) NOT NULL,
    name character varying(255) NOT NULL,
    poster character varying(255),
    title character varying(255) NOT NULL,
    description character varying(255) NOT NULL,
    keywords character varying(255),
    url character varying(500) NOT NULL,
    "orderBy" integer NOT NULL,
    fields jsonb,
    active boolean NOT NULL,
    favorite boolean,
    "createdAt" timestamp with time zone,
    "updatedAt" timestamp with time zone
);


ALTER TABLE public.pages OWNER TO avtovibor;

--
-- Name: pages_pageId_seq; Type: SEQUENCE; Schema: public; Owner: avtovibor
--

CREATE SEQUENCE public."pages_pageId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."pages_pageId_seq" OWNER TO avtovibor;

--
-- Name: pages_pageId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: avtovibor
--

ALTER SEQUENCE public."pages_pageId_seq" OWNED BY public.pages."pageId";


--
-- Name: users; Type: TABLE; Schema: public; Owner: avtovibor
--

CREATE TABLE public.users (
    "userId" integer NOT NULL,
    login character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    active boolean NOT NULL,
    "errorAttemptLogin" smallint NOT NULL,
    "createdAt" timestamp with time zone,
    "updatedAt" timestamp with time zone
);


ALTER TABLE public.users OWNER TO avtovibor;

--
-- Name: users_userId_seq; Type: SEQUENCE; Schema: public; Owner: avtovibor
--

CREATE SEQUENCE public."users_userId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."users_userId_seq" OWNER TO avtovibor;

--
-- Name: users_userId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: avtovibor
--

ALTER SEQUENCE public."users_userId_seq" OWNED BY public.users."userId";


--
-- Name: components componentId; Type: DEFAULT; Schema: public; Owner: avtovibor
--

ALTER TABLE ONLY public.components ALTER COLUMN "componentId" SET DEFAULT nextval('public."components_componentId_seq"'::regclass);


--
-- Name: fields fieldId; Type: DEFAULT; Schema: public; Owner: avtovibor
--

ALTER TABLE ONLY public.fields ALTER COLUMN "fieldId" SET DEFAULT nextval('public."fields_fieldId_seq"'::regclass);


--
-- Name: files fileId; Type: DEFAULT; Schema: public; Owner: avtovibor
--

ALTER TABLE ONLY public.files ALTER COLUMN "fileId" SET DEFAULT nextval('public."files_fileId_seq"'::regclass);


--
-- Name: menuItems menuItemId; Type: DEFAULT; Schema: public; Owner: avtovibor
--

ALTER TABLE ONLY public."menuItems" ALTER COLUMN "menuItemId" SET DEFAULT nextval('public."menuItems_menuItemId_seq"'::regclass);


--
-- Name: pages pageId; Type: DEFAULT; Schema: public; Owner: avtovibor
--

ALTER TABLE ONLY public.pages ALTER COLUMN "pageId" SET DEFAULT nextval('public."pages_pageId_seq"'::regclass);


--
-- Name: users userId; Type: DEFAULT; Schema: public; Owner: avtovibor
--

ALTER TABLE ONLY public.users ALTER COLUMN "userId" SET DEFAULT nextval('public."users_userId_seq"'::regclass);


--
-- Data for Name: components; Type: TABLE DATA; Schema: public; Owner: avtovibor
--

COPY public.components ("componentId", "pageId", type, props, "createdAt") FROM stdin;
\.


--
-- Data for Name: fields; Type: TABLE DATA; Schema: public; Owner: avtovibor
--

COPY public.fields ("fieldId", module, key, label, hint, type, content, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: files; Type: TABLE DATA; Schema: public; Owner: avtovibor
--

COPY public.files ("fileId", filename, destination, size, mimetype, "createdAt") FROM stdin;
\.


--
-- Data for Name: menuItems; Type: TABLE DATA; Schema: public; Owner: avtovibor
--

COPY public."menuItems" ("menuItemId", title, url, "orderBy", "isActive", "parentId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: pages; Type: TABLE DATA; Schema: public; Owner: avtovibor
--

COPY public.pages ("pageId", type, name, poster, title, description, keywords, url, "orderBy", fields, active, favorite, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: avtovibor
--

COPY public.users ("userId", login, password, active, "errorAttemptLogin", "createdAt", "updatedAt") FROM stdin;
1	admin	$2b$10$1PdKsYI56OTtwH/b/0cGe.H3EeIke7La9Dte1SKkRBsxyxwECaOB6	t	0	2025-07-05 11:21:37.209115+00	2025-07-05 11:21:37.209115+00
2	admin@gmail.com	$2b$10$1PdKsYI56OTtwH/b/0cGe.H3EeIke7La9Dte1SKkRBsxyxwECaOB6	t	0	2025-07-05 11:49:51.148017+00	2025-07-05 11:49:51.148017+00
3	Admin@gmail.com	admin123	t	0	2025-07-05 13:00:13.325429+00	2025-07-05 13:00:13.325429+00
\.


--
-- Name: components_componentId_seq; Type: SEQUENCE SET; Schema: public; Owner: avtovibor
--

SELECT pg_catalog.setval('public."components_componentId_seq"', 1, false);


--
-- Name: fields_fieldId_seq; Type: SEQUENCE SET; Schema: public; Owner: avtovibor
--

SELECT pg_catalog.setval('public."fields_fieldId_seq"', 1, false);


--
-- Name: files_fileId_seq; Type: SEQUENCE SET; Schema: public; Owner: avtovibor
--

SELECT pg_catalog.setval('public."files_fileId_seq"', 1, false);


--
-- Name: menuItems_menuItemId_seq; Type: SEQUENCE SET; Schema: public; Owner: avtovibor
--

SELECT pg_catalog.setval('public."menuItems_menuItemId_seq"', 1, false);


--
-- Name: pages_pageId_seq; Type: SEQUENCE SET; Schema: public; Owner: avtovibor
--

SELECT pg_catalog.setval('public."pages_pageId_seq"', 1, false);


--
-- Name: users_userId_seq; Type: SEQUENCE SET; Schema: public; Owner: avtovibor
--

SELECT pg_catalog.setval('public."users_userId_seq"', 3, true);


--
-- Name: components components_pkey; Type: CONSTRAINT; Schema: public; Owner: avtovibor
--

ALTER TABLE ONLY public.components
    ADD CONSTRAINT components_pkey PRIMARY KEY ("componentId");


--
-- Name: fields fields_key_key; Type: CONSTRAINT; Schema: public; Owner: avtovibor
--

ALTER TABLE ONLY public.fields
    ADD CONSTRAINT fields_key_key UNIQUE (key);


--
-- Name: fields fields_key_key1; Type: CONSTRAINT; Schema: public; Owner: avtovibor
--

ALTER TABLE ONLY public.fields
    ADD CONSTRAINT fields_key_key1 UNIQUE (key);


--
-- Name: fields fields_pkey; Type: CONSTRAINT; Schema: public; Owner: avtovibor
--

ALTER TABLE ONLY public.fields
    ADD CONSTRAINT fields_pkey PRIMARY KEY ("fieldId");


--
-- Name: files files_pkey; Type: CONSTRAINT; Schema: public; Owner: avtovibor
--

ALTER TABLE ONLY public.files
    ADD CONSTRAINT files_pkey PRIMARY KEY ("fileId");


--
-- Name: menuItems menuItems_pkey; Type: CONSTRAINT; Schema: public; Owner: avtovibor
--

ALTER TABLE ONLY public."menuItems"
    ADD CONSTRAINT "menuItems_pkey" PRIMARY KEY ("menuItemId");


--
-- Name: pages pages_pkey; Type: CONSTRAINT; Schema: public; Owner: avtovibor
--

ALTER TABLE ONLY public.pages
    ADD CONSTRAINT pages_pkey PRIMARY KEY ("pageId");


--
-- Name: pages pages_url_key; Type: CONSTRAINT; Schema: public; Owner: avtovibor
--

ALTER TABLE ONLY public.pages
    ADD CONSTRAINT pages_url_key UNIQUE (url);


--
-- Name: pages pages_url_key1; Type: CONSTRAINT; Schema: public; Owner: avtovibor
--

ALTER TABLE ONLY public.pages
    ADD CONSTRAINT pages_url_key1 UNIQUE (url);


--
-- Name: users users_login_key; Type: CONSTRAINT; Schema: public; Owner: avtovibor
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_login_key UNIQUE (login);


--
-- Name: users users_login_key1; Type: CONSTRAINT; Schema: public; Owner: avtovibor
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_login_key1 UNIQUE (login);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: avtovibor
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY ("userId");


--
-- Name: components components_pageId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: avtovibor
--

ALTER TABLE ONLY public.components
    ADD CONSTRAINT "components_pageId_fkey" FOREIGN KEY ("pageId") REFERENCES public.pages("pageId") ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

