body.public {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: #fff;
  overflow-x: hidden;
  .q-field__control::before {
    border-color: white !important;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
